.div-table-registration {
  position: relative;
  height: 65vh;
  width: 100%;
  overflow-y: scroll;
  font-size: 0.675em;
  background-color: #ffffff !important;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.25);
}

.div-table-registration table {
  margin-bottom: 0px !important;
}

.table-registration {
  border-collapse: collapse;
  text-align: center;
}

.table-registration td {
  border-left: 0.5px solid rgb(202, 199, 199);
  cursor: pointer;
}

.table-header {
  position: sticky;
  top: 0;
  background-color: #8527b0 !important;
  color: #ffffff;
  font-size: 0.875em;
  border-left: 0.5px solid rgb(202, 199, 199);
}

.search-input {
  font-size: 0.675em !important;
  border-radius: 0;
}

.search-input:focus {
  box-shadow: none;
  border: 1px solid #9c27b0;
}

.search-label {
  background-color: #8527b0;
  color: #ffffff;
  border-radius: 0;
}

#circle-activate {
  color: #38e21c;
  margin-left: 10px;
}

#circle-inactive {
  color: #ff0000;
  margin-left: 10px;
}

#BsCalendarDate {
  color: #9c27b0;
  font-size: 15px;
  margin-right: 15px;
  cursor: pointer;
  position: absolute;
  right: 20px;
  bottom: 12px;
}

.row-selected,
.row-selected td {
  background-color: #744da1;
  color: #ffffff !important;
}
