.loading {
    background-color: rgba(89,45,255,.4);
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 3;
}

.loading img {
    width: 5%;
}

.body_site .loading {
    margin-left: -50px !important;
    margin-top: -60px !important;
    margin-right: -10px !important;
}


@media screen and (max-width: 700px) {
    .body_site .loading {
        margin-left: 0px !important;
    }
}