.list-title {
  font-size: 16px;
  font-weight: 600;
  margin-left: 1em;
  color: #2c004b;
}

.reg-form {
  overflow: auto;
}

.form-radio {
  font-size: 12px;
}

.rmsc .dropdown-heading {
  font-size: 12px;
  height: 32px !important;
}

.dropdown-heading-value span {
  color: black !important;
}

.dropdown-heading-value span a {
  background-color: rgb(212, 211, 211);
  padding: 1.5px 4px;
  border-radius: 3px;
  margin-right: 4px;
}

.requests-registration-table {
  position: relative;
  height: 70vh;
  background-color: #FFF;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.25);
  overflow-y: scroll;
}
